body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff; 
    color: #333;
    line-height: 1.6;
}

.container {
    max-width: 1000px; 
    margin: 0 auto;
    padding: 20px;
}



.navbar .logo { 

    font-weight: bold; 

    font-size: 1.2em; 

} 

 

.navbar nav a { 

    text-decoration: none; 

    color: #333; 

    padding: 5px 10px; 

    margin: 0 5px; 

} 

 

.navbar nav a.active { 

    border-bottom: 2px solid #333; 

    font-weight: bold; 

} 
.navbar .profile { 

   

    padding: 5px 10px; 

    border: 1px solid #333; 

} 

 



.banner { 

    width: 100%; 

    height: 180px;  

    background-color: #e0e0e0; 

    margin: 20px 0; 

    position: relative; 

    display: flex; 

    justify-content: center; 

    align-items: center; 

} 

.banner::before, .banner::after {
    content: '';
    position: absolute;
    width: 90%;
    height: 2px;
    background: #555;
}

.banner::before {
    transform: rotate(45deg);
}

.banner::after { 

    transform: rotate(-45deg); 

} 

 

.catchphrase { 

    text-align: left; 

    margin-bottom: 20px; 

    font-style: italic; 

} 